{% extends 'base.html' %}


{% block body %}
<br>
<div>
    <form action="/search/" method="post">
        {% csrf_token %}
        <label for="fullname" class="control-label">Fullname</label>
        <input type="text" name="fullname" value="" id="name" placeholder="Enter the fullname of the contact you want to search" required>        
        <button type="submit" class="btn btn-success">search</button>
    </form>
</div>
{% if unexist %}
    <p>*this contact doesn't exist try again</p>
{% endif %}
{% endblock %}